div#grp_DanhSachCa .x-grid3-cell-inner, .x-grid3-hd-inner
{
    white-space: nowrap !important;
    padding-left: 2px;
    padding-right: 0;
}

#grp_DanhSachCa td
{
    vertical-align: middle !important;
}

#pnlSouth
{
    border-top: 1px solid #8DB2E3 !important;
}

.list-item
{
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    padding: 3px 10px 3px 10px;
    border: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    white-space: normal;
    color: #000;
}

    .list-item h3
    {
        display: block;
        font: inherit;
        font-weight: bold;
        color: #222;
    }

.template_style
{
    float: left;
    line-height: 17px;
    width: -moz-available;
    white-space: normal;
}

.first_template
{
    height: 18px; /*line-height: 18px;*/
    border-bottom: 1px solid #DDE7FC;
    padding-top: 5px;
}

.last_template
{
    height: 18px; /*line-height: 18px;*/
    padding-top: 5px;
}

.style_time
{
    color: Blue;
}
