div#GridPanel1 .x-grid3-cell-inner, .x-grid3-hd-inner
{
    white-space: nowrap !important;
}

.west-panel .x-layout-collapsed-west
{
    background: url(../../../Resource/Images/LocTheoPhongBan.png) no-repeat center;
}

div#pnlCoCauToChuc-xsplit
{
    border: 1px solid #8DB2E3;
    border-bottom: none !important;
    border-top: none !important;
}
.x-layout-split
{
    border: 1px solid #8DB2E3 !important;
    border-bottom: none !important;
    border-top: none !important;
}
.combo-selected
{
    background: red !important;
    color: White;
    font-weight: bold !important;
}

.requireLable 
{
    color:red;
    float:right;
    
}
