.x-grid3-hd-PHEP, .x-grid3-hd-OM_KHONG_LUONG, .x-grid3-hd-OM_CO_LUONG, .x-grid3-hd-DIEU_DUONG, .x-grid3-hd-CHEDO, .x-grid3-hd-VHTT, .x-grid3-hd-NGHI_LE, .x-grid3-hd-PHEP, .x-grid3-hd-TNLD, .x-grid3-hd-HOC, .x-grid3-hd-QSU, .x-grid3-hd-NGHI_VO_LY_DO, .x-grid3-hd-TQUAN, .x-grid3-hd-LAM_BU, .x-grid3-hd-NGHI_BU, .x-grid3-hd-NGH_KHONG_LUONG, .x-grid3-hd-NGHI_CO_LUONG
{
    color: #15428B;
}

div#TreeCapNhatHoSoNhanSu .x-panel-body
{
    background: #fff !important;
}

.highlight
{
    background: yellow;
}

.cbStates-list
{
    width: 298px;
    font: 11px tahoma,arial,helvetica,sans-serif;
}

.cbStates-list th
{
    font-weight: bold;
}

.cbStates-list td, .cbStates-list th
{
    padding: 3px;
}
/*Khi text dài thì cho phép GridPanel xuống dòng*/
div#GridPanel1 .x-grid3-cell-inner
{
    white-space: nowrap !important;
}
/*Ẩn thanh tab ở window report*/
div#pnReportPanel .x-tab-panel-header
{
    display: none !important;
}
